header{
    background-color: var(--green);
    height: auto;
}

#titulo{
    font-size: 46px;
}

#form{
    display: flex;
    justify-content: center;
}

input{
    width: 309px;
    height: 60px;
    border-radius: 20px;
    color: #74747c;
    border-color: #e6e6e6;
    font-size: 16px;
    margin-top: 10px;
    border-style: groove;
}

input.error {
    border: 3px solid red;
}

select{
    background-color: white;
    width: 309px;
    height: 60px;
    border-radius: 20px;
    color: #74747c;
    border-color: #cec5c5;
    font-size: 16px;
    margin-top: 10px;
    border-style: groove;
}

#adress{
    width: 481px;
}

#number{
    width: 137px;
}

.button-form{
    display: flex;
    justify-content: center;
}

.button{
    background-color: var(--green);
    width: 399px;
    height: 63px;
    border-radius: 40px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: var(--grey);
    border-color: var(--grey);
}